if SHIELD_CHONKY_TRACKBALL_LESS_DONGLE

config ZMK_KEYBOARD_NAME
    default "Chonky Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_CHONKY_TRACKBALL_LESS_LEFT || SHIELD_CHONKY_TRACKBALL_LESS_RIGHT || SHIELD_CHONKY_TRACKBALL_LESS_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
